<?xml version="1.0" encoding="utf-8"?>
<!-- web.xml is the official java web application descriptor. It's with this file that your server will know how to handle it -->
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
  xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">

  <!-- This context parameter is the way we indicates to Spring where it has to find its configuration files -->
  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>classpath:/applicationContext.xml</param-value>
  </context-param>

  <!-- Simplest is to refer to the official description: http://static.springsource.org/spring/docs/3.1.x/javadoc-api/index.html?org/springframework/web/filter/CharacterEncodingFilter.html -->
  <filter>
    <filter-name>encoding-filter</filter-name>
    <filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
    <init-param>
      <param-name>forceEncoding</param-name>
      <param-value>true</param-value>
    </init-param>
  </filter>

  <!-- Encoding filter on everything -->
  <filter-mapping>
    <filter-name>encoding-filter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>

  <!-- Wicket -->
   <servlet>
       <servlet-name>Wicket</servlet-name>
       <servlet-class>org.apache.wicket.protocol.http.WicketServlet</servlet-class>
       <init-param>
         <param-name>applicationClassName</param-name>
         <param-value>be.collections.whiskey.web.application.WhiskeyApplication</param-value>
       </init-param>
        <load-on-startup>1</load-on-startup>
   </servlet>
   <servlet-mapping>
       <servlet-name>Wicket</servlet-name>
       <url-pattern>/*</url-pattern>
   </servlet-mapping>


  <!-- Spring Framework startup is done with a listener -->
  <listener>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>

  <!-- Spring MVC entry point is a "dispatcher" servlet -->
    <servlet>
        <servlet-name>whiskey</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <init-param>
            <param-name>contextConfigLocation</param-name>
            <param-value>/WEB-INF/spring-servlet.xml</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>whiskey</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>

  <!-- Application welcome file and only page is the index.html -->
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>

</web-app>
